html 
{
    height: 100%;
}
body 
{
    background: black;
    margin: 0;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    padding: 0;
    display: block !important;

    height: 100%;
    min-height: 740px;

    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}